<div>

    <p>Hii <bold><%= user.name %></bold></p>
    <br>
    <p>Your One time Otp is <strong><%= otp  %></strong></p>
    <br>
    <p> Otp Valid for 30 minutes Please verify within given time. </p>
    <br>
    <br>
    <br>
    <p>Thanks</p>
    </div>